{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Change Password    
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Change Password</h1>
        <form action="{% url 'account_change_password' %}" method="post">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="Change Password" class="btn btn-success d-block mx-auto">
            <input type="submit" value="Cancel" class="btn btn-success d-block mx-auto">
        </form>
    </div>
{% endblock %}





